@charset "UTF-8";

:root {
    --font1: Arial, Helvetica, sans-serif;
    --color1: #000;
    --color2: #fff;
    --color3: #d4d4d4;
    --text-gray: #747474;
    --box-shadow-color: #00000053;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: var(--font1);
    transition: all .4s ease;
}

/* NAV BAR */
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: var(--color2);
    box-shadow: 5px 0 5px 2px var(--box-shadow-color);
    z-index: 1;
}

nav ul {
    display: none;
    list-style-type: none;
    overflow: hidden;
}

nav ul li, .right-link {float: left;}

a.btn-link {
    display: inline-block;
    padding: 10px 14px;
    font-size: 1em;
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 3px;
}

a.btn-link:hover, a.btn-link:active {
    color: var(--color1);
    background-color: var(--color3);
}

.nav-right-link {font-weight: bold;}

/* ALL IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* HEADER */

header {position: relative;}

header > img{
    display: block;
    margin: 0 auto;
}

header > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    font-weight: normal;
    font-size: 2.3em;
    letter-spacing: 3px;
    color: var(--color2);
}

header h1 span.header-h1-span {
    padding: 8px 18px;
    font-weight: bolder;
    color: var(--color2);
    opacity: .75;
    background-color: var(--color1);
}

header h1 span.header-desc {display: none;}

/* MAIN */
main {padding: 30px 25px;}

/* ALL SECTION CONTENT */
.content-section {
    max-width: 1500px;
    margin: 0 auto;
}

.section-heading {
    padding: 20px 0 12px;
    font-size: 1.4em;
    font-weight: normal;
}

/* ALL HR */
hr {
    width: 100%;
    margin: 10px 0 15px;
    border: 1px solid #c6c6c641;
}

/* SECTION PROJECTS */
.container-projects {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin: 40px 0 50px;
}

.project-item:not(:last-child) {margin-bottom: 16px;}

.img-box {position: relative;}

.project-item-span {
    position: absolute;
    padding: 10px 12px;
    color: var(--color2);
    background-color: var(--color1);
}

.project-img {
    display: block;
}

/* SECTION ABOUT */
.container-workers-info {
    display: flex;
    flex-flow: column nowrap;
    margin: 50px 0;
}

/* WORKER DESCRIPTION*/
.worker-item-info {
    padding-top: 7px;
    margin-bottom: 30px;
}

/* WORKER IMG */
.about-img {
    display: block;
    filter: grayscale(75%);
}

h2.worker-heading {
    padding: 10px 0;
    font-weight: normal;
}

h3.worker-category {
    padding: 10px 0;
    font-size: 1em;
    font-weight: normal;
    color: var(--text-gray);
}

p.worker-desc {padding: 10px 0;}

.btn-contact {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: none;
    font-size: 1em;
}

.btn-contact:hover {
    cursor: pointer;
    background-color: var(--color3);
}

/* SECTION CONTACT */
form {
    display: block;
    width: 100%;
    margin: 12px 0 50px;
}

input:not(input[type="submit"]), textarea{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 8px;
    font-size: 1em;
    color: var(--color1);
    border: 1px solid var(--color3);
}

textarea {resize: none;}

input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 18px;
    font-size: 1em;
    color: #fff;
    border: none;
    background-color: var(--color1);
}

input[type="submit"]:hover {
    color: var(--color1);
    background-color: var(--color3);
    cursor: pointer;
}

/* SECTION MAP */
.map-img {display: block;}

/* FOOTER */
footer {
    padding: 32px;
    text-align: center;
    color: var(--color2);
    background-color: var(--color1);
}

footer > p > a {color: var(--color2);}
footer > p > a:hover {color: green;}