@media screen and (min-width: 599px){
    /*Tornei o links escondidos em telas pequenas*/
    div.direita{display: block;}

    /*Tornei visível a descrição do header*/
    #spanH1{display: inline;}

    .head-h1{transform: translate(-50%);}

    .flex-box{
        flex: calc(100% / 4.5);
    }
}

@media screen and (min-width: 602px) and (max-width: 992px) {
    .flex-box{
        flex: calc(100% / 3);
    }
}